schemas/shibboleth-targetconfig-1.0.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<schema targetNamespace="urn:mace:shibboleth:target:config:1.0"
	xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:conf="urn:mace:shibboleth:target:config:1.0"
	xmlns:cred="urn:mace:shibboleth:credentials:1.0"
	xmlns:saml="urn:oasis:names:tc:SAML:1.0:assertion" 
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	blockDefault="substitution"
	version="1.0">

	<import namespace="urn:mace:shibboleth:credentials:1.0" schemaLocation="credentials.xsd"/>
	<import namespace="urn:oasis:names:tc:SAML:1.0:assertion" schemaLocation="cs-sstc-schema-assertion-1.1.xsd"/>

	<annotation>
		<documentation>
    	1.0 schema for XML-based configuration of Shibboleth target libraries and modules.
    	First appearing in Shibboleth 1.3 release.
    	</documentation>
    </annotation>

	<element name="ShibbolethTargetConfig">
		<annotation>
			<documentation>Outer element of configuration file</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="conf:Extensions" minOccurs="0"/>
				<element ref="cred:Credentials" minOccurs="0"/>
				<element ref="conf:SHAR" minOccurs="0"/>
				<element ref="conf:SHIRE" minOccurs="0"/>
				<element ref="conf:Applications"/>
			</sequence>
			<attribute name="schemadir" type="anyURI" use="required"/>
			<attribute name="logger" type="anyURI" use="optional"/>
			<anyAttribute namespace="##any" processContents="lax"/>
		</complexType>
	</element>

	<element name="Extensions">
		<annotation>
			<documentation>Container for extension libraries and custom configuration</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Library" minOccurs="0" maxOccurs="unbounded">
					<complexType>
			            <complexContent>
			                <extension base="anyType">
			                	<attribute name="path" type="anyURI" use="required"/>
								<attribute name="fatal" type="boolean" use="optional"/>
			                </extension>
			            </complexContent>
					</complexType>
				</element>
				<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>

	<complexType name="PluggableType">
		<complexContent>
			<extension base="anyType">
				<attribute name="type" type="string" use="required"/>
			</extension>
		</complexContent>
	</complexType>

	<element name="SHAR">
		<annotation>
			<documentation>Container for SHAR configuration</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Listener" type="conf:PluggableType" minOccurs="0"/>
				<element name="SessionCache" minOccurs="0">
					<complexType>
			            <complexContent>
			                <extension base="conf:PluggableType">
			                	<attribute name="cleanupInterval" type="unsignedInt" use="optional"/>
			                	<attribute name="timeout" type="unsignedInt" use="optional"/>
			                </extension>
			            </complexContent>
					</complexType>
				</element>
				<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
			<attribute name="logger" type="anyURI" use="optional"/>
			<attribute name="AATimeout" type="unsignedInt" use="optional"/>
			<attribute name="AAConnectTimeout" type="unsignedInt" use="optional"/>
			<attribute name="defaultLifetime" type="unsignedInt" use="optional"/>
			<anyAttribute namespace="##any" processContents="lax"/>
		</complexType>
	</element>

	<element name="SHIRE">
		<annotation>
			<documentation>
			Container for configuration glue between target library and the surrounding application environment.
			</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="conf:ApplicationMap" minOccurs="0"/>
				<element name="ImplementationSpecific" minOccurs="0">
					<complexType>
						<choice maxOccurs="unbounded">
							<element ref="conf:ISAPI"/>
							<element ref="conf:NSAPI"/>
							<element ref="conf:Apache"/>
							<element ref="conf:Java"/>
							<any namespace="##other" processContents="lax"/>
						</choice>
					</complexType>
				</element>
				<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
			<attribute name="logger" type="anyURI" use="optional"/>
			<anyAttribute namespace="##any" processContents="lax"/>
		</complexType>
	</element>
	
	<element name="ISAPI">
		<complexType>
			<sequence>
				<element name="Site" maxOccurs="unbounded">
					<complexType>
						<simpleContent>
							<extension base="string">
								<attribute name="InstanceID" type="unsignedInt" use="required"/>
								<anyAttribute namespace="##any" processContents="lax"/>
							</extension>
						</simpleContent>
					</complexType>
				</element>
				<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
			<anyAttribute namespace="##any" processContents="lax"/>
		</complexType>
	</element>
	<element name="Apache">
		<complexType>
            <complexContent>
                <extension base="anyType">
					<attribute name="apacheConfig" type="boolean" use="optional"/>
                </extension>
            </complexContent>
		</complexType>
	</element>
	<element name="NSAPI" type="anyType"/>
	<element name="Java" type="anyType"/>
	
	<group name="ContentSettings">
		<annotation>
			<documentation>
			Group of settings that can be applied to elements in the ApplicationMap, supersedes httpd.conf/htaccess
			</documentation>
		</annotation>
		<sequence>
			<element name="requireSession" type="boolean" minOccurs="0"/>
			<element name="exportAssertion" type="boolean" minOccurs="0"/>
			<choice minOccurs="0">
				<element name="htaccess">
					<complexType>
						<choice>
							<element name="OR" type="conf:OperatorType"/>
							<element name="AND" type="conf:OperatorType"/>
							<element name="NOT">
								<complexType>
									<complexContent>
										<restriction base="conf:OperatorType">
											<sequence>
												<element ref="conf:Rule"/>
											</sequence>
										</restriction>
									</complexContent>
								</complexType>
							</element>
							<element ref="conf:Rule"/>
						</choice>
						<anyAttribute namespace="##any" processContents="lax"/>
					</complexType>
				</element>
				<element name="accessPolicy" type="conf:PluggableType"/>
			</choice>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</group>
	
	<element name="Rule">
		<complexType>
			<simpleContent>
				<extension base="string">
					<attribute name="requires" type="string" use="required"/>
				</extension>
			</simpleContent>
		</complexType>
	</element>
	<complexType name="OperatorType">
		<sequence>
			<element ref="conf:Rule" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

    <element name="ApplicationMap">
        <complexType>
            <sequence>
            	<group ref="conf:ContentSettings"/>
                <element ref="conf:Host" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
            <attribute name="uri" type="anyURI" use="optional"/>
            <anyAttribute namespace="##any" processContents="lax"/>
        </complexType>
    </element>

    <element name="Host">
    	<complexType>
    		<sequence>
            	<group ref="conf:ContentSettings"/>
    			<element ref="conf:Path" minOccurs="0" maxOccurs="unbounded"/>
    		</sequence>
    		<attribute name="scheme" use="optional" default="http">
			    <simpleType>
			        <restriction base="string">
			            <enumeration value="http"/>
			            <enumeration value="https"/>
			            <enumeration value="ftp"/>
			            <enumeration value="ldap"/>
			            <enumeration value="ldaps"/>
			        </restriction>
			    </simpleType>
    		</attribute>
    		<attribute name="name" type="string" use="required"/>
    		<attribute name="port" type="unsignedInt" use="optional"/>
    		<attribute name="applicationId" type="string" use="optional"/>
            <anyAttribute namespace="##any" processContents="lax"/>
    	</complexType>
    </element>

    <element name="Path">
        <complexType>
    		<sequence>
            	<group ref="conf:ContentSettings"/>
    			<element ref="conf:Path" minOccurs="0" maxOccurs="unbounded"/>
    		</sequence>
    		<attribute name="name" type="string" use="required"/>
    		<attribute name="applicationId" type="string" use="optional"/>
            <anyAttribute namespace="##any" processContents="lax"/>
        </complexType>
    </element>

	<element name="Applications">
		<annotation>
			<documentation>
			Container for global target settings and application-specific overrides
			</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="conf:Sessions"/>
				<element ref="conf:Errors"/>
				<element ref="conf:Policy"/>
				<element ref="conf:CredentialUse"/>
				<element ref="conf:Application" minOccurs="0" maxOccurs="unbounded"/>
				<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
			<attribute name="providerId" type="anyURI" use="required"/>
	        <anyAttribute namespace="##any" processContents="lax"/>
		</complexType>
	</element>
	
	<element name="Application">
		<annotation>
			<documentation>
			Container for application-specific overrides
			</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="conf:Sessions"/>
				<element ref="conf:Errors" minOccurs="0"/>
				<element ref="conf:Policy" minOccurs="0"/>
				<element ref="conf:CredentialUse" minOccurs="0"/>
				<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
			<attribute name="id" type="string" use="required"/>
			<attribute name="providerId" type="anyURI" use="optional"/>
	        <anyAttribute namespace="##any" processContents="lax"/>
		</complexType>
	</element>

	<element name="Errors">
		<annotation>
			<documentation>
			Container for error templates and associated details
			</documentation>
		</annotation>
		<complexType>
            <complexContent>
                <extension base="anyType">
                	<attribute name="shire" type="anyURI" use="required"/>
                	<attribute name="rm" type="anyURI" use="required"/>
                	<attribute name="access" type="anyURI" use="required"/>
                	<attribute name="supportContact" type="string" use="required"/>
                	<attribute name="logoLocation" type="anyURI" use="required"/>
                </extension>
            </complexContent>
		</complexType>
	</element>

	<element name="Sessions">
		<annotation>
			<documentation>
			Container for specifying app session establishment and policy
			</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="shireURL">
					<complexType>
						<simpleContent>
							<extension base="anyURI">
								<attribute name="SSLOnly" type="boolean" use="optional"/>
							</extension>
						</simpleContent>
					</complexType>
				</element>
				<element name="cookieName">
					<complexType>
						<simpleContent>
							<extension base="string">
								<attribute name="SSLOnly" type="boolean" use="optional"/>
							</extension>
						</simpleContent>
					</complexType>
				</element>
				<element name="wayfURL" type="anyURI" minOccurs="0"/>
				<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
			<attribute name="lifetime" type="unsignedInt" use="optional"/>
			<attribute name="timeout" type="unsignedInt" use="optional"/>
			<attribute name="normalizeRequest" type="boolean" use="optional"/>
			<attribute name="checkAddress" type="boolean" use="optional"/>
	        <anyAttribute namespace="##any" processContents="lax"/>
		</complexType>
	</element>

	<element name="Policy">
		<annotation>
			<documentation>
			Container for specifying various policies for attributes, trust, and federations
			</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Attributes" minOccurs="0">
					<complexType>
						<sequence>
							<element ref="saml:AttributeDesignator" minOccurs="0" maxOccurs="unbounded"/>
							<element name="AAPProvider" type="conf:PluggableType" minOccurs="0" maxOccurs="unbounded"/>
						</sequence>
						<attribute name="signRequest" type="boolean" use="optional"/>
						<attribute name="signedResponse" type="boolean" use="optional"/>
						<anyAttribute namespace="##any" processContents="lax"/>
					</complexType>
				</element>
				<element name="FederationProvider" type="conf:PluggableType" minOccurs="0" maxOccurs="unbounded"/>
				<element name="TrustProvider" type="conf:PluggableType" minOccurs="0" maxOccurs="unbounded"/>
				<element name="Audiences" minOccurs="0">
					<complexType>
						<sequence>
							<element ref="saml:Audience" maxOccurs="unbounded"/>
						</sequence>
						<anyAttribute namespace="##any" processContents="lax"/>
					</complexType>
				</element>
				<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
	        <anyAttribute namespace="##any" processContents="lax"/>
		</complexType>
	</element>
	
	<element name="CredentialUse">
		<annotation>
			<documentation>
			Container for specifying credentials to use
			</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="RelyingParty" minOccurs="0" maxOccurs="unbounded">
					<complexType>
						<complexContent>
							<extension base="anyType">
								<attribute name="Name" type="string" use="required"/>
								<attribute name="TLS" type="string" use="required"/>
								<attribute name="Signing" type="string" use="required"/>
							</extension>
						</complexContent>
					</complexType>
				</element>
				<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
			<attribute name="TLS" type="string" use="required"/>
			<attribute name="Signing" type="string" use="required"/>
	        <anyAttribute namespace="##any" processContents="lax"/>
		</complexType>
	</element>
</schema>

