schemas/shibboleth-targetconfig-1.0.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<schema targetNamespace="urn:mace:shibboleth:target:config:1.0"
	xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:conf="urn:mace:shibboleth:target:config:1.0"
	xmlns:saml="urn:oasis:names:tc:SAML:1.0:assertion"
	xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	blockDefault="substitution"
	version="1.3.5">

	<import namespace="urn:oasis:names:tc:SAML:1.0:assertion" schemaLocation="cs-sstc-schema-assertion-1.1.xsd"/>
	<import namespace="urn:oasis:names:tc:SAML:2.0:metadata" schemaLocation="saml-schema-metadata-2.0.xsd"/>

	<annotation>
		<documentation>
    	1.0 schema for XML-based configuration of Shibboleth target libraries and modules.
    	First appearing in Shibboleth 1.2 release.
    	</documentation>
    </annotation>

	<simpleType name="string">
		<restriction base="string">
			<minLength value="1"/>
		</restriction>
	</simpleType>
	
	<simpleType name="listOfStrings">
		<list itemType="conf:string"/>
	</simpleType>
	
	<simpleType name="listOfURIs">
		<list itemType="anyURI"/>
	</simpleType>
	
	<complexType name="PluggableType">
		<sequence>
			<any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="type" type="conf:string" use="required"/>
		<attribute name="uri" type="anyURI"/>
		<anyAttribute namespace="##any" processContents="lax"/>
	</complexType>

	<element name="ShibbolethTargetConfig" type="conf:SPConfigType"/>
	<element name="SPConfig" type="conf:SPConfigType"/>
	<complexType name="SPConfigType">
		<annotation>
			<documentation>Root element of configuration file</documentation>
		</annotation>
		<sequence>
			<element ref="conf:Extensions" minOccurs="0"/>
			<choice minOccurs="0">
				<element name="Global" type="conf:GlobalConfigurationType"/>
				<element name="SHAR" type="conf:GlobalConfigurationType"/>
			</choice>
			<choice minOccurs="0">
				<element name="Local" type="conf:LocalConfigurationType"/>
				<element name="SHIRE" type="conf:LocalConfigurationType"/>
			</choice>
			<element ref="conf:Applications"/>
			<element name="CredentialsProvider" type="conf:PluggableType" minOccurs="0" maxOccurs="unbounded"/>
			<element ref="conf:AttributeFactory" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="logger" type="anyURI"/>
		<attribute name="clockSkew" type="unsignedInt"/>
		<anyAttribute namespace="##other" processContents="lax"/>
	</complexType>

	<element name="Extensions">
		<annotation>
			<documentation>Container for extension libraries and custom configuration</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Library" minOccurs="0" maxOccurs="unbounded">
					<complexType>
						<sequence>
							<any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
						</sequence>
						<attribute name="path" type="anyURI" use="required"/>
						<attribute name="fatal" type="boolean"/>
						<anyAttribute namespace="##other" processContents="lax"/>
					</complexType>
				</element>
				<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>

	<complexType name="GlobalConfigurationType">
		<annotation>
			<documentation>Container for global (server independent) configuration</documentation>
		</annotation>
		<sequence>
			<element ref="conf:Extensions" minOccurs="0"/>
			<choice>
				<element name="UnixListener">
					<complexType>
						<attribute name="address" type="conf:string" use="required"/>
					</complexType>
				</element>
				<element name="TCPListener">
					<complexType>
						<attribute name="address" type="conf:string" use="required"/>
						<attribute name="port" type="unsignedInt" use="required"/>
						<attribute name="acl" type="conf:listOfStrings" default="127.0.0.1"/>
					</complexType>
				</element>
				<element name="MemoryListener" type="conf:PluggableType"/>
				<element name="Listener" type="conf:PluggableType"/>
			</choice>
			<choice>
				<element name="MemorySessionCache">
					<complexType>
						<attributeGroup ref="conf:SessionCacheProperties"/>
						<anyAttribute namespace="##other" processContents="lax"/>
					</complexType>
				</element>
				<element name="MySQLSessionCache">
					<complexType>
						<sequence>
							<element name="Argument" type="conf:string" minOccurs="0" maxOccurs="unbounded"/>
						</sequence>
						<attributeGroup ref="conf:SessionCacheProperties"/>
						<attribute name="mysqlTimeout" type="unsignedInt" default="14400"/>
						<attribute name="storeAttributes" type="boolean" default="false"/>
						<anyAttribute namespace="##other" processContents="lax"/>
					</complexType>
				</element>
				<element name="SessionCache">
					<complexType>
						<complexContent>
							<extension base="conf:PluggableType">
								<attributeGroup ref="conf:SessionCacheProperties"/>
							</extension>
						</complexContent>
					</complexType>
				</element>
			</choice>
			<choice minOccurs="0">
				<element name="MySQLReplayCache">
					<complexType>
						<sequence>
							<element name="Argument" type="conf:string" minOccurs="0" maxOccurs="unbounded"/>
						</sequence>
						<anyAttribute namespace="##other" processContents="lax"/>
					</complexType>
				</element>
				<element name="ReplayCache" type="conf:PluggableType"/>
			</choice>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="logger" type="anyURI"/>
		<anyAttribute namespace="##other" processContents="lax"/>
	</complexType>

	<attributeGroup name="SessionCacheProperties">
    	<attribute name="cleanupInterval" type="unsignedInt" default="300"/>
    	<attribute name="cacheTimeout" type="unsignedInt" default="28800"/>
		<attribute name="AAConnectTimeout" type="unsignedInt" default="15"/>
		<attribute name="AATimeout" type="unsignedInt" default="30"/>
		<attribute name="defaultLifetime" type="unsignedInt" default="1800"/>
		<attribute name="retryInterval" type="unsignedInt" default="300"/>
		<attribute name="strictValidity" type="boolean" default="true"/>
		<attribute name="propagateErrors" type="boolean" default="false"/>
	</attributeGroup>

	<complexType name="LocalConfigurationType">
		<annotation>
			<documentation>
			Container for configuration of locally integrated or platform-specific
			features (e.g. web server filters)
			</documentation>
		</annotation>
		<sequence>
			<element ref="conf:Extensions" minOccurs="0"/>
			<element name="RequestMapProvider" type="conf:PluggableType" minOccurs="0"/>
			<element name="Implementation" minOccurs="0">
				<complexType>
					<choice maxOccurs="unbounded">
						<element ref="conf:ISAPI"/>
						<any namespace="##other" processContents="lax"/>
					</choice>
				</complexType>
			</element>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="logger" type="anyURI"/>
		<attribute name="localRelayState" type="boolean" default="false"/>
		<attribute name="unsetHeaderValue" type="conf:string"/>
		<attribute name="checkSpoofing" type="boolean"/>
        <attribute name="spoofKey" type="conf:string"/>
		<attribute name="catchAll" type="boolean"/>
        <attribute name="allowedSchemes" type="conf:listOfStrings"/>
		<anyAttribute namespace="##other" processContents="lax"/>
	</complexType>
	
	<element name="ISAPI">
		<complexType>
			<sequence>
				<element name="Site" maxOccurs="unbounded">
					<complexType>
						<sequence>
							<element name="Alias" type="conf:string" minOccurs="0" maxOccurs="unbounded"/>
						</sequence>
						<attribute name="id" type="unsignedInt" use="required"/>
						<attribute name="name" type="conf:string" use="required"/>
						<attribute name="port" type="unsignedInt"/>
						<attribute name="sslport" type="unsignedInt"/>
						<attribute name="scheme" type="conf:string"/>
					</complexType>
				</element>
				<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
			<attribute name="normalizeRequest" type="boolean"/>
            <attribute name="safeHeaderNames" type="boolean"/>
			<anyAttribute namespace="##other" processContents="lax"/>
		</complexType>
	</element>
	<element name="NSAPI" type="anyType"/>
	<element name="Java" type="anyType"/>

	<element name="AccessControl" type="conf:UniOperatorType">
		<annotation>
			<documentation>
			A simple example access policy language extension that supersedes Apache .htaccess
			</documentation>
		</annotation>
	</element>
	<element name="OR" type="conf:MultiOperatorType"/>
	<element name="AND" type="conf:MultiOperatorType"/>
	<element name="NOT" type="conf:UniOperatorType"/>
	<complexType name="UniOperatorType">
		<choice>
			<element ref="conf:AND"/>
			<element ref="conf:OR"/>
			<element ref="conf:NOT"/>
			<element ref="conf:Rule"/>
		</choice>
	</complexType>
	<complexType name="MultiOperatorType">
		<choice minOccurs="2" maxOccurs="unbounded">
			<element ref="conf:AND"/>
			<element ref="conf:OR"/>
			<element ref="conf:NOT"/>
			<element ref="conf:Rule"/>
		</choice>
	</complexType>
	<element name="Rule">
		<complexType>
			<simpleContent>
				<extension base="conf:listOfStrings">
					<attribute name="require" type="conf:string" use="required"/>
				</extension>
			</simpleContent>
		</complexType>
	</element>
	
	<attributeGroup name="ContentSettings">
		<attribute name="authType" type="conf:string"/>
		<attribute name="requireSession" type="boolean"/>
		<attribute name="requireSessionWith" type="conf:string"/>
		<attribute name="exportAssertion" type="boolean"/>
		<attribute name="redirectToSSL" type="unsignedInt"/>
		<anyAttribute namespace="##other" processContents="lax"/>
	</attributeGroup>
	<element name="AccessControlProvider" type="conf:PluggableType"/>
	<element name="htaccess" type="conf:PluggableType"/>

    <element name="RequestMap">
		<annotation>
			<documentation>
			Built-in request mapping syntax, decomposes URLs into Host/Path/Path/...
			</documentation>
		</annotation>
        <complexType>
            <sequence>
            	<choice minOccurs="0">
            		<element ref="conf:htaccess"/>
					<element ref="conf:AccessControl"/>
	            	<element ref="conf:AccessControlProvider"/>
	            </choice>
            	<choice minOccurs="0" maxOccurs="unbounded">
            		<element ref="conf:Host"/>
            		<element ref="conf:HostRegex"/>
            	</choice>
            </sequence>
            <attribute name="applicationId" type="conf:string" fixed="default"/>
         	<attributeGroup ref="conf:ContentSettings"/>
        </complexType>
    </element>

    <element name="Host">
    	<complexType>
    		<sequence>
            	<choice minOccurs="0">
            		<element ref="conf:htaccess"/>
					<element ref="conf:AccessControl"/>
	            	<element ref="conf:AccessControlProvider"/>
	            </choice>
    			<choice minOccurs="0" maxOccurs="unbounded">
    				<element ref="conf:Path"/>
    				<element ref="conf:PathRegex"/>
    			</choice>
    		</sequence>
    		<attribute name="scheme">
			    <simpleType>
			        <restriction base="string">
			            <enumeration value="http"/>
			            <enumeration value="https"/>
			            <enumeration value="ftp"/>
			            <enumeration value="ldap"/>
			            <enumeration value="ldaps"/>
			        </restriction>
			    </simpleType>
    		</attribute>
    		<attribute name="name" type="conf:string" use="required"/>
    		<attribute name="port" type="unsignedInt"/>
    		<attribute name="applicationId" type="conf:string"/>
           	<attributeGroup ref="conf:ContentSettings"/>
    	</complexType>
    </element>

	<element name="HostRegex">
		<complexType>
			<sequence>
				<choice minOccurs="0">
					<element ref="conf:htaccess"/>
					<element ref="conf:AccessControl"/>
					<element ref="conf:AccessControlProvider"/>
				</choice>
				<choice minOccurs="0" maxOccurs="unbounded">
					<element ref="conf:Path"/>
					<element ref="conf:PathRegex"/>
				</choice>
			</sequence>
			<attribute name="regex" type="conf:string" use="required"/>
			<attribute name="ignoreCase" type="boolean" default="true"/>
			<attribute name="applicationId" type="conf:string"/>
			<attributeGroup ref="conf:ContentSettings"/>
		</complexType>
	</element>
	
    <element name="Path">
        <complexType>
    		<sequence>
            	<choice minOccurs="0">
            		<element ref="conf:htaccess"/>
					<element ref="conf:AccessControl"/>
	            	<element ref="conf:AccessControlProvider"/>
	            </choice>
    			<choice minOccurs="0" maxOccurs="unbounded">
    				<element ref="conf:Path"/>
    				<element ref="conf:PathRegex"/>
    			</choice>
    		</sequence>
    		<attribute name="name" type="conf:string" use="required"/>
    		<attribute name="applicationId" type="conf:string"/>
           	<attributeGroup ref="conf:ContentSettings"/>
        </complexType>
    </element>

	<element name="PathRegex">
		<complexType>
			<sequence>
				<choice minOccurs="0">
					<element ref="conf:htaccess"/>
					<element ref="conf:AccessControl"/>
					<element ref="conf:AccessControlProvider"/>
				</choice>
			</sequence>
			<attribute name="regex" type="conf:string" use="required"/>
			<attribute name="ignoreCase" type="boolean" default="true"/>
			<attribute name="applicationId" type="conf:string"/>
			<attributeGroup ref="conf:ContentSettings"/>
		</complexType>
	</element>
	
	<element name="Applications">
		<annotation>
			<documentation>Container for global target settings and application-specific overrides</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="conf:Sessions"/>
				<element ref="conf:Errors"/>
				<element ref="conf:CredentialUse" minOccurs="0"/>
				<choice minOccurs="0" maxOccurs="unbounded">
                    <element ref="saml:AttributeDesignator"/>
                    <element ref="saml:Audience"/>
                    <element name="AAPProvider" type="conf:PluggableType"/>
                    <!-- deprecated --> <element name="FederationProvider" type="conf:PluggableType"/>
                    <element name="MetadataProvider" type="conf:PluggableType"/>
                    <element name="TrustProvider" type="conf:PluggableType"/>
				</choice>
				<element ref="conf:Application" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
			<attribute name="id" type="conf:string" fixed="default"/>
			<attribute name="providerId" type="anyURI" use="required"/>
			<attribute name="homeURL" type="anyURI"/>
	        <anyAttribute namespace="##other" processContents="lax"/>
		</complexType>
	</element>
	
	<element name="Application">
		<annotation>
			<documentation>Container for application-specific overrides</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="conf:Sessions" minOccurs="0"/>
				<element ref="conf:Errors" minOccurs="0"/>
				<element ref="conf:CredentialUse" minOccurs="0"/>
				<choice minOccurs="0" maxOccurs="unbounded">
                    <element ref="saml:AttributeDesignator"/>
                    <element ref="saml:Audience"/>
                    <element name="AAPProvider" type="conf:PluggableType"/>
                    <!-- deprecated --> <element name="FederationProvider" type="conf:PluggableType"/>
                    <element name="MetadataProvider" type="conf:PluggableType"/>
                    <element name="TrustProvider" type="conf:PluggableType"/>
				</choice>
			</sequence>
			<attribute name="id" type="conf:string" use="required"/>
			<attribute name="providerId" type="anyURI"/>
			<attribute name="homeURL" type="anyURI"/>
	        <anyAttribute namespace="##other" processContents="lax"/>
		</complexType>
	</element>

	<element name="KeyInfoResolver" type="conf:PluggableType">
		<annotation>
			<documentation>
			Custom plug-in that resolves ds:KeyInfo elements into public keys, used in
			TrustProvider elements.
			</documentation>
		</annotation>
	</element>

	<element name="Sessions">
		<annotation>
			<documentation>Container for specifying app session establishment and policy</documentation>
		</annotation>
		<complexType>
			<choice minOccurs="0" maxOccurs="unbounded">
				<element ref="conf:SessionInitiator"/>
				<element ref="md:AssertionConsumerService"/>
				<element ref="md:SingleLogoutService"/>
				<element name="ExtensionService" type="conf:PluggableType"/>
			</choice>
			<!-- deprecated --> <attribute name="wayfURL" type="anyURI"/>
			<!-- deprecated --> <attribute name="shireURL" type="anyURI"/>
			<!-- deprecated --> <attribute name="shireSSL" type="boolean"/>
			<attribute name="handlerURL" type="anyURI"/>
			<attribute name="handlerSSL" type="boolean" default="true"/>
			<attribute name="cookieName" type="conf:string"/>
			<attribute name="cookieProps" type="conf:string"/>
			<attribute name="idpHistory" type="boolean" default="true"/>
			<attribute name="idpHistoryDays" type="unsignedInt"/>
			<attribute name="lifetime" type="unsignedInt"/>
			<attribute name="timeout" type="unsignedInt"/>
			<attribute name="checkAddress" type="boolean"/>
			<attribute name="consistentAddress" type="boolean" default="true"/>
			<attribute name="checkReplay" type="boolean" default="true"/>
			<anyAttribute namespace="##other" processContents="lax"/>
		</complexType>
	</element>
	<element name="SessionInitiator">
		<annotation>
			<documentation>Used to specify WAYF/Discovery services (external or internal)</documentation>
		</annotation>
		<complexType>
			<sequence>
				<any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
			<attribute name="Location" type="anyURI" use="required"/>
			<attribute name="Binding" type="anyURI" use="required"/>
			<attribute name="wayfURL" type="anyURI"/>
			<attribute name="wayfBinding" type="anyURI"/>
			<attribute name="checkCDC" type="anyURI"/>
			<attribute name="isDefault" type="boolean"/>
			<attribute name="id" type="conf:string"/>
			<anyAttribute namespace="##any" processContents="lax"/>
		</complexType>
	</element>

	<element name="Errors">
		<annotation>
			<documentation>Container for error templates and associated details</documentation>
		</annotation>
		<complexType>
			<sequence>
				<any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
			<!-- deprecated --> <attribute name="shire" type="anyURI"/>
			<attribute name="session" type="anyURI"/>
			<attribute name="metadata" type="anyURI"/>
			<attribute name="rm" type="anyURI" use="required"/>
			<attribute name="access" type="anyURI"/>
			<attribute name="ssl" type="anyURI"/>
			<attribute name="supportContact" type="conf:string"/>
			<attribute name="logoLocation" type="anyURI"/>
			<attribute name="styleSheet" type="anyURI"/>
			<anyAttribute namespace="##any" processContents="lax"/>
		</complexType>
	</element>

	<attributeGroup name="CredentialUseGroup">
		<attribute name="TLS" type="conf:string"/>
		<attribute name="Signing" type="conf:string"/>
		<attribute name="signRequest" type="boolean" default="false"/>
		<attribute name="signatureAlg" type="anyURI"/>
		<attribute name="digestAlg" type="anyURI"/>
		<attribute name="signedResponse" type="boolean" default="false"/>
		<attribute name="signedAssertions" type="boolean" default="false"/>
		<attribute name="authType">
			<simpleType>
				<restriction base="string">
					<enumeration value="basic"/>
					<enumeration value="digest"/>
					<enumeration value="ntlm"/>
					<enumeration value="gss"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="authUsername"/>
		<attribute name="authPassword"/>
	</attributeGroup>

	<element name="CredentialUse">
		<annotation>
			<documentation>Container for specifying credentials to use</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="RelyingParty" minOccurs="0" maxOccurs="unbounded">
					<complexType>
						<sequence>
							<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
						</sequence>
						<attribute name="Name" type="conf:string" use="required"/>
						<attributeGroup ref="conf:CredentialUseGroup"/>
						<anyAttribute namespace="##other" processContents="lax"/>
					</complexType>
				</element>
				<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
			<attributeGroup ref="conf:CredentialUseGroup"/>
	        <anyAttribute namespace="##other" processContents="lax"/>
		</complexType>
	</element>
	
	<element name="AttributeFactory">
		<annotation>
			<documentation>Specifies a plugin that implements a specialized SAML attribute</documentation>
		</annotation>
		<complexType>
			<sequence>
				<any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
			<attribute name="type" type="conf:string" use="required"/>
			<attribute name="AttributeName" type="conf:string" use="required"/>
	        <anyAttribute namespace="##other" processContents="lax"/>
		</complexType>
	</element>
	
</schema>

