schemas/shibboleth-targetconfig-1.0.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<schema targetNamespace="urn:mace:shibboleth:target:config:1.0"
	xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:conf="urn:mace:shibboleth:target:config:1.0"
	xmlns:saml="urn:oasis:names:tc:SAML:1.0:assertion"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	blockDefault="substitution"
	version="1.1">

	<import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
	<import namespace="urn:oasis:names:tc:SAML:1.0:assertion" schemaLocation="cs-sstc-schema-assertion-1.1.xsd"/>

	<annotation>
		<documentation>
    	1.0 schema for XML-based configuration of Shibboleth target libraries and modules.
    	First appearing in Shibboleth 1.2 release.
    	</documentation>
    </annotation>

	<complexType name="PluggableType">
        <complexContent>
            <restriction base="anyType">
                <sequence>
                    <any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
				<attribute name="type" type="string" use="required"/>
				<attribute name="uri" type="anyURI" use="optional"/>
                <anyAttribute namespace="##other" processContents="lax"/>
            </restriction>
        </complexContent>
	</complexType>

	<element name="ShibbolethTargetConfig" type="conf:SPConfigType"/>
	<element name="SPConfig" type="conf:SPConfigType"/>
	<complexType name="SPConfigType">
		<annotation>
			<documentation>Root element of configuration file</documentation>
		</annotation>
		<sequence>
			<element ref="conf:Extensions" minOccurs="0"/>
			<choice minOccurs="0">
				<element name="Global" type="conf:GlobalConfigurationType"/>
				<element name="SHAR" type="conf:GlobalConfigurationType"/>
			</choice>
			<choice minOccurs="0">
				<element name="Local" type="conf:LocalConfigurationType"/>
				<element name="SHIRE" type="conf:LocalConfigurationType"/>
			</choice>
			<element ref="conf:Applications"/>
			<element name="CredentialsProvider" type="conf:PluggableType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="logger" type="anyURI" use="optional"/>
		<attribute name="clockSkew" type="unsignedInt" use="optional"/>
		<anyAttribute namespace="##other" processContents="lax"/>
	</complexType>

	<element name="Extensions">
		<annotation>
			<documentation>Container for extension libraries and custom configuration</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Library" minOccurs="0" maxOccurs="unbounded">
					<complexType>
			            <complexContent>
			                <restriction base="anyType">
								<sequence>
									<any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
								</sequence>
			                	<attribute name="path" type="anyURI" use="required"/>
								<attribute name="fatal" type="boolean" use="optional"/>
								<anyAttribute namespace="##other" processContents="lax"/>
			                </restriction>
			            </complexContent>
					</complexType>
				</element>
				<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>

	<complexType name="GlobalConfigurationType">
		<annotation>
			<documentation>Container for global (server independent) configuration</documentation>
		</annotation>
		<sequence>
			<element ref="conf:Extensions" minOccurs="0"/>
			<choice>
				<element name="UnixListener">
					<complexType mixed="false">
						<complexContent>
							<restriction base="anyType">
								<attribute name="address" type="string" use="required"/>
							</restriction>
						</complexContent>
					</complexType>
				</element>
				<element name="TCPListener">
					<complexType mixed="false">
						<complexContent>
							<restriction base="anyType">
								<attribute name="address" type="string" use="required"/>
								<attribute name="port" type="unsignedInt" use="required"/>
								<attribute name="acl" use="optional" default="127.0.0.1">
									<simpleType>
										<list itemType="string"/>
									</simpleType>
								</attribute>
							</restriction>
						</complexContent>
					</complexType>
				</element>
				<element name="Listener" type="conf:PluggableType"/>
			</choice>
			<choice>
				<element name="MemorySessionCache">
					<complexType mixed="false">
						<complexContent>
							<restriction base="anyType">
								<attributeGroup ref="conf:SessionCacheProperties"/>
								<anyAttribute namespace="##other" processContents="lax"/>
							</restriction>
						</complexContent>
					</complexType>
				</element>
				<element name="MySQLSessionCache">
					<complexType>
						<sequence>
							<element name="Argument" type="string" minOccurs="0" maxOccurs="unbounded"/>
						</sequence>
						<attributeGroup ref="conf:SessionCacheProperties"/>
						<attribute name="mysqlTimeout" type="unsignedInt" use="optional" default="14400"/>
						<attribute name="storeAttributes" type="boolean" use="optional" default="false"/>
						<anyAttribute namespace="##other" processContents="lax"/>
					</complexType>
				</element>
				<element name="SessionCache">
					<complexType>
						<complexContent>
							<extension base="conf:PluggableType">
								<attributeGroup ref="conf:SessionCacheProperties"/>
							</extension>
						</complexContent>
					</complexType>
				</element>
			</choice>
			<choice minOccurs="0">
				<element name="MySQLReplayCache">
					<complexType>
						<sequence>
							<element name="Argument" type="string" minOccurs="0" maxOccurs="unbounded"/>
						</sequence>
						<anyAttribute namespace="##other" processContents="lax"/>
					</complexType>
				</element>
				<element name="ReplayCache" type="conf:PluggableType"/>
			</choice>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="logger" type="anyURI" use="optional"/>
		<anyAttribute namespace="##other" processContents="lax"/>
	</complexType>

	<attributeGroup name="SessionCacheProperties">
    	<attribute name="cleanupInterval" type="unsignedInt" use="optional" default="300"/>
    	<attribute name="cacheTimeout" type="unsignedInt" use="optional" default="28800"/>
		<attribute name="AAConnectTimeout" type="unsignedInt" use="optional" default="15"/>
		<attribute name="AATimeout" type="unsignedInt" use="optional" default="30"/>
		<attribute name="defaultLifetime" type="unsignedInt" use="optional" default="1800"/>
		<attribute name="retryInterval" type="unsignedInt" use="optional" default="300"/>
		<attribute name="strictValidity" type="boolean" use="optional" default="true"/>
		<attribute name="propagateErrors" type="boolean" use="optional" default="false"/>
	</attributeGroup>

	<complexType name="LocalConfigurationType">
		<annotation>
			<documentation>
			Container for configuration of locally integrated or platform-specific
			features (e.g. web server filters)
			</documentation>
		</annotation>
		<sequence>
			<element ref="conf:Extensions" minOccurs="0"/>
			<element name="RequestMapProvider" type="conf:PluggableType" minOccurs="0"/>
			<element name="Implementation" minOccurs="0">
				<complexType>
					<choice maxOccurs="unbounded">
						<element ref="conf:ISAPI"/>
						<element ref="conf:NSAPI"/>
						<element ref="conf:Java"/>
						<any namespace="##other" processContents="lax"/>
					</choice>
				</complexType>
			</element>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="logger" type="anyURI" use="optional"/>
		<attribute name="localRelayState" type="boolean" use="optional" default="false"/>
		<anyAttribute namespace="##other" processContents="lax"/>
	</complexType>
	
	<element name="ISAPI">
		<complexType>
			<sequence>
				<element name="Site" maxOccurs="unbounded">
					<complexType mixed="false">
						<complexContent>
							<restriction base="anyType">
								<sequence>
									<element name="Alias" type="string" minOccurs="0" maxOccurs="unbounded"/>
								</sequence>
								<attribute name="id" type="unsignedInt" use="required"/>
								<attribute name="name" type="string" use="required"/>
                        		<attribute name="port" type="unsignedInt" use="optional"/>
								<attribute name="scheme" type="string" use="optional"/>
							</restriction>
						</complexContent>
					</complexType>
				</element>
				<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
			<attribute name="normalizeRequest" type="boolean" use="optional"/>
			<anyAttribute namespace="##other" processContents="lax"/>
		</complexType>
	</element>
	<element name="NSAPI" type="anyType"/>
	<element name="Java" type="anyType"/>

	<element name="htaccess" type="conf:UniOperatorType">
		<annotation>
			<documentation>
			A simple example access policy language extension that supersedes Apache .htaccess
			</documentation>
		</annotation>
	</element>
	<element name="OR" type="conf:MultiOperatorType"/>
	<element name="AND" type="conf:MultiOperatorType"/>
	<element name="NOT" type="conf:UniOperatorType"/>
	<complexType name="UniOperatorType">
		<choice>
			<element ref="conf:AND"/>
			<element ref="conf:OR"/>
			<element ref="conf:NOT"/>
			<element ref="conf:Rule"/>
		</choice>
	</complexType>
	<complexType name="MultiOperatorType">
		<choice minOccurs="2" maxOccurs="unbounded">
			<element ref="conf:AND"/>
			<element ref="conf:OR"/>
			<element ref="conf:NOT"/>
			<element ref="conf:Rule"/>
		</choice>
	</complexType>
	<element name="Rule">
		<complexType>
			<simpleContent>
				<extension base="conf:listOfStrings">
					<attribute name="require" type="string" use="required"/>
				</extension>
			</simpleContent>
		</complexType>
	</element>
	<simpleType name="listOfStrings">
		<list itemType='string'/>
	</simpleType>
	
	<attributeGroup name="ContentSettings">
		<attribute name="requireSession" type="boolean" use="optional"/>
		<attribute name="exportAssertion" type="boolean" use="optional"/>
		<anyAttribute namespace="##other" processContents="lax"/>
	</attributeGroup>
	<element name="AccessControlProvider" type="conf:PluggableType"/>

    <element name="RequestMap">
		<annotation>
			<documentation>
			Built-in request mapping syntax, decomposes URLs into Host/Path/Path/...
			</documentation>
		</annotation>
        <complexType>
            <sequence>
            	<choice minOccurs="0">
            		<element ref="conf:htaccess"/>
	            	<element ref="conf:AccessControlProvider"/>
	            </choice>
                <element ref="conf:Host" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
            <attribute name="applicationId" type="string" fixed="default"/>
         	<attributeGroup ref="conf:ContentSettings"/>
        </complexType>
    </element>

    <element name="Host">
    	<complexType>
    		<sequence>
            	<choice minOccurs="0">
            		<element ref="conf:htaccess"/>
	            	<element ref="conf:AccessControlProvider"/>
	            </choice>
    			<element ref="conf:Path" minOccurs="0" maxOccurs="unbounded"/>
    		</sequence>
    		<attribute name="scheme" use="optional">
			    <simpleType>
			        <restriction base="string">
			            <enumeration value="http"/>
			            <enumeration value="https"/>
			            <enumeration value="ftp"/>
			            <enumeration value="ldap"/>
			            <enumeration value="ldaps"/>
			        </restriction>
			    </simpleType>
    		</attribute>
    		<attribute name="name" type="string" use="required"/>
    		<attribute name="port" type="unsignedInt" use="optional"/>
    		<attribute name="applicationId" type="string" use="optional"/>
           	<attributeGroup ref="conf:ContentSettings"/>
    	</complexType>
    </element>

    <element name="Path">
        <complexType>
    		<sequence>
            	<choice minOccurs="0">
            		<element ref="conf:htaccess"/>
	            	<element ref="conf:AccessControlProvider"/>
	            </choice>
    			<element ref="conf:Path" minOccurs="0" maxOccurs="unbounded"/>
    		</sequence>
    		<attribute name="name" type="string" use="required"/>
    		<attribute name="applicationId" type="string" use="optional"/>
           	<attributeGroup ref="conf:ContentSettings"/>
        </complexType>
    </element>

	<element name="Applications">
		<annotation>
			<documentation>
			Container for global target settings and application-specific overrides
			</documentation>
		</annotation>
		<complexType>
			<sequence>
				<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="conf:Sessions"/>
				<element ref="conf:Errors"/>
				<element ref="conf:CredentialUse" minOccurs="0"/>
				<choice minOccurs="0" maxOccurs="unbounded">
                    <element ref="saml:AttributeDesignator"/>
                    <element ref="saml:Audience"/>
                    <element name="AAPProvider" type="conf:PluggableType"/>
                    <element name="FederationProvider" type="conf:PluggableType"/>
                    <element name="TrustProvider" type="conf:PluggableType"/>
                    <element name="RevocationProvider" type="conf:PluggableType"/>
				</choice>
				<element ref="conf:Application" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
			<attribute name="id" type="string" fixed="default"/>
			<attribute name="providerId" type="anyURI" use="required"/>
			<attribute name="homeURL" type="anyURI" use="optional"/>
	        <anyAttribute namespace="##other" processContents="lax"/>
		</complexType>
	</element>
	
	<element name="Application">
		<annotation>
			<documentation>
			Container for application-specific overrides
			</documentation>
		</annotation>
		<complexType>
			<sequence>
				<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="conf:Sessions"/>
				<element ref="conf:Errors" minOccurs="0"/>
				<element ref="conf:CredentialUse" minOccurs="0"/>
				<choice minOccurs="0" maxOccurs="unbounded">
                    <element ref="saml:AttributeDesignator"/>
                    <element ref="saml:Audience"/>
                    <element name="AAPProvider" type="conf:PluggableType"/>
                    <element name="FederationProvider" type="conf:PluggableType"/>
                    <element name="TrustProvider" type="conf:PluggableType"/>
                    <element name="RevocationProvider" type="conf:PluggableType"/>
				</choice>
			</sequence>
			<attribute name="id" type="string" use="required"/>
			<attribute name="providerId" type="anyURI" use="optional"/>
			<attribute name="homeURL" type="anyURI" use="optional"/>
	        <anyAttribute namespace="##other" processContents="lax"/>
		</complexType>
	</element>

	<element name="Sessions">
		<annotation>
			<documentation>Container for specifying app session establishment and policy</documentation>
		</annotation>
		<complexType>
			<attribute name="wayfURL" type="anyURI" use="optional"/>
			<!-- deprecated --> <attribute name="shireURL" type="anyURI" use="optional"/>
			<attribute name="shireSSL" type="boolean" use="optional"/>
			<attribute name="cookieName" type="string" use="optional"/>
			<attribute name="cookieProps" type="string" use="optional"/>
			<attribute name="lifetime" type="unsignedInt" use="optional"/>
			<attribute name="timeout" type="unsignedInt" use="optional"/>
			<attribute name="checkAddress" type="boolean" use="optional"/>
			<attribute name="oldAuthnRequest" type="boolean" use="optional"/>
			<anyAttribute namespace="##any" processContents="lax"/>
		</complexType>
	</element>

	<element name="Errors">
		<annotation>
			<documentation>Container for error templates and associated details</documentation>
		</annotation>
		<complexType>
            <complexContent>
                <restriction base="anyType">
                	<!-- deprecated --> <attribute name="shire" type="anyURI" use="optional"/>
					<attribute name="session" type="anyURI" use="optional"/>
                	<attribute name="rm" type="anyURI" use="required"/>
                	<attribute name="access" type="anyURI" use="optional"/>
                	<attribute name="supportContact" type="string" use="optional"/>
                	<attribute name="logoLocation" type="anyURI" use="optional"/>
                	<attribute name="styleSheet" type="anyURI" use="optional"/>
					<anyAttribute namespace="##any" processContents="lax"/>
                </restriction>
            </complexContent>
		</complexType>
	</element>

	<attributeGroup name="CredentialUseGroup">
		<attribute name="TLS" type="string" use="required"/>
		<attribute name="Signing" type="string" use="required"/>
		<attribute name="signRequest" type="boolean" use="optional" default="false"/>
		<attribute name="signedResponse" type="boolean" use="optional" default="false"/>
		<attribute name="signedAssertions" type="boolean" use="optional" default="false"/>
	</attributeGroup>

	<element name="CredentialUse">
		<annotation>
			<documentation>Container for specifying credentials to use</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="RelyingParty" minOccurs="0" maxOccurs="unbounded">
					<complexType mixed="false">
						<complexContent>
							<restriction base="anyType">
								<attribute name="Name" type="string" use="required"/>
								<attributeGroup ref="conf:CredentialUseGroup"/>
							</restriction>
						</complexContent>
					</complexType>
				</element>
				<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
			<attributeGroup ref="conf:CredentialUseGroup"/>
	        <anyAttribute namespace="##other" processContents="lax"/>
		</complexType>
	</element>
</schema>

